<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <title>Document</title>
        {{ with resources.Get "style/home.scss" | toCSS | minify | fingerprint }}
            <link
                rel="stylesheet"
                href="{{ .RelPermalink }}"
                integrity="{{ .Data.Integrity }}"
                crossorigin="anonymous"
            />
        {{ end }}
    </head>
    <body>
        {{ block "body" . }}
        {{ end }}
    </body>
</html>
