@import 'node_modules/scss-reset/_reset';

body {
    margin: 0;

    background-color: #e7e7e7;
}

@font-face {
    font-family: 'PP Mondwest';
    src: url('/fonts/PPMondwest-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Space Mono';
    src: url('/fonts/SpaceMono-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Libre Baskerville';
    src: url('/fonts/LibreBaskerville-Italic.ttf') format('truetype');
    font-style: italic;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'PP Mondwest', serif;
    font-weight: 400;
    font-size: 60px;
    font-style: normal;

    margin-bottom: 50px;
}

p {
    font-family: 'Space Mono', monospace;
    font-weight: 400;
    font-size: 15px;
    font-style: normal;
    line-height: 110%;

    margin-bottom: 20px;

    text-underline-offset: 2px;

    em,
    strong,
    a {
        font-family: 'Libre Baskerville', serif;
        font-style: italic;
    }
}

figure {
    * {
        font-size: 13px;
        margin-bottom: 15px;
    }
}

a:any-link {
    color: inherit;
}
