@import 'assets/style/_variables';

.artFigure {
    @include desktop {
        display: grid;
        grid-template-columns: 1fr 720px 1fr;
        grid-template-rows: min-content;
        gap: 50px;

        align-items: center;

        .img-wrapper {
            grid-column: 2 / 3;
            grid-row: 1 / 2;
        }

        figcaption {
            grid-column: 1 / 2;
            grid-row: 1 / 2;
        }
    }
    @include mobile {
        .img-wrapper {
            margin-bottom: 16px;
        }

        figcaption {
            width: 275px;
        }
    }
}
