<details class="detailModal {{ .side }} info">
    <summary aria-label="hide/show info">
        <div class="summaryImagesContainer" aria-hidden="true">
            <img
                class="summaryLabelButton"
                alt="hide/show info"
                src="{{ .buttonPath }}"
            />
        </div>
    </summary>
    <div class="contentContainer">
        <button class="closeButton" type="button">
            <img src="/images/x.svg" alt="close" />
        </button>
        <div class="content">
            {{ with .ctx.Site.GetPage .pagePath }}
                {{ .Content }}
            {{ end }}
        </div>
    </div>
</details>
